<section class="sobre" id="sobre">
    <h2 class="heading"><span> Denise Rísia Carvalho</span> </h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="sobre-img">
          <img src="assets/imagens/denise-site-04.png" alt="">
          <span class="circle-spin"></span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="sobre-img">
          <img src="assets/imagens/site01-01.png" alt="">
          <span class="circle-spin"></span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="sobre-img">
          <img src="assets/imagens/denise-site-1.png" alt="">
          <span class="circle-spin"></span>
        </div>
      </div>
    </div>
    <div class="conteudo-sobre"></div>
    <h3> Desenvolvedora Full Stack - Gerente de Projetos de TI </h3>
    <p> “Nasci em Fortaleza/CE, em janeiro de 1998, e desde criança fui muito incentivada e estimulada a usar a
      criatividade, liderança e gestão para atingir os meus objetivos, almejos e sonhos. Aos 22 anos já tinha feito e
      liderado diversos projetos, por exemplo, sociais que impactavam positivamente a vida de dezenas de crianças. Após
      árduos anos de estudos no cursinho, decidi prestar o vestibular para o curso de Engenharia de Software, pois eu era muito
      criativa, sempre projetava, gostava de negócios, gostava de liderar pessoas, passava horas e horas no
      computador, seria a área perfeita, e realmente foi. Me lembro de minha primeira semana em sala de aula na faculdade, onde em
      uma aula sobre softwares para gestão, os meus olhos brilharam e o meu coração bateu mais forte e veio um único
      pensamento e sentimento – “Quero viver isso o resto de minha vida.”</p>
    <a href="https://www.instagram.com/risiaeu/" target="_blank" class="btn-02">Fale Comigo</a>
</section>