<section class="sobre" id="sobre">
    <h2 class="heading"><span> Denise Rísia Carvalho</span> </h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="sobre-img">
          <img src="assets/imagens/denise-site-04.png" alt="">
          <span class="circle-spin"></span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="sobre-img">
          <img src="assets/imagens/site01-01.png" alt="">
          <span class="circle-spin"></span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="sobre-img">
          <img src="assets/imagens/denise-site-1.png" alt="">
          <span class="circle-spin"></span>
        </div>
      </div>
    </div>
    <div class="conteudo-sobre"></div>
    <h3> Desenvolvedora Full Stack || Gerente de Projetos de TI </h3>
    <p> “Nasci em Fortaleza/CE, em janeiro de 1998, e desde criança fui muito incentivada e estimulada a usar a criatividade, liderança e gestão para atingir os meus objetivos, almejos e sonhos. Aos 22 anos, já havia feito e liderado diversos projetos, incluindo iniciativas sociais que impactavam positivamente a vida de dezenas de crianças. Após árduos anos de estudo no cursinho, decidi prestar o vestibular para o curso de Engenharia de Software. Eu era muito criativa, sempre projetava, gostava de negócios e de liderar pessoas. Passava horas e horas no computador. Seria a área perfeita para mim, e realmente foi. Lembro-me da minha primeira semana em sala de aula na faculdade, quando, durante uma aula sobre softwares para gestão, meus olhos brilharam, meu coração bateu mais forte e veio um único pensamento e sentimento – 'Quero viver isso pelo resto da minha vida.'”</p>
    <a href="https://www.instagram.com/risiaeu/" target="_blank" class="btn-02">Fale Comigo</a>
</section>