<header>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label for="check" class="checkbtn-close">
        <i class="fas fa-times"></i>
      </label>
      <div class="logo-container">
        <!-- Substitua o texto "COINS" pelo seu logo -->
        <a href="/home">
          <img src="assets/imagens/logo-site.png" alt="Logo do site" style="width: 100px;">
        </a>
      </div>
      <ul class="menu">
        <li><a href="#" routerLink="/home">Home</a></li>
        <li><a href="#" routerLink="/sobre">Sobre</a></li>
        <li><a href="#" routerLink="/jornada">Jornada</a></li>
        <li><a href="#" routerLink="/tecnologias">Tecnologias</a></li>
        <li><a href="#" routerLink="/projetos">Projetos</a></li>
        <li><a href="#" routerLink="/contato">Contato</a></li>
        <li><a href="#" routerLink="/login" class="login-button">Login em Breve!</a></li>
      </ul>
    </nav>
  </header>
  