@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

header {
    background-color: #FFF4F4;
    position: relative;
    height: 80px;
    font-family: 'Poppins', sans-serif;
  }

  .span{
    margin: 10px auto;
    color:  #C20C45;
    font-size: 22px;
  }
  
  .green-text{
    color: var( #C20C45);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 28.8px */
    padding: 8px;
  }
    
  nav {
    font-family: 'Poppins', sans-serif;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      max-width: 1200px;
      margin: 0 auto;
      position: absolute; /* Altere para absolute para que o nav fique posicionado dentro do header */
      top: 0; /* Posicione o nav no topo do header */
      left: 0; /* Posicione o nav no canto esquerdo do header */
      right: 0; /* Posicione o nav no canto direito do header */
      z-index: 5;
  }
    
    .logo-container {
      display: flex;
      align-items: center;
    }
    
    .logo img {
      width: 200px; /* Ajuste o tamanho da logo conforme necessário */
      height: auto;
      margin: 0 auto; /* Para centralizar a logo */
    }
    
    .menu {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    .menu li {
      margin: 0 10px;
    }
    
    .menu li a {
      color:  #C20C45;
      text-decoration: none;
      padding: 10px;
      border-radius: 3px;
      text-transform: uppercase;
      font-size: 15px;
    }
    
    .menu li a.active,
    .menu li a:hover {
      border-bottom: 2px solid  #1f242d; 
      transition: .5s;
    }
    
    .checkbtn {
      color:  #C20C45;
      cursor: pointer;
      display: none;
    }
    
    #check {
      display: none;
    }
  
  .menu.open {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 80px;
    right: 0;
    width: 100%;
    background: #000;
    padding: 20px;
    z-index: 2;
  }
  
  .checkbtn-close {
    display: none;
  }


.menu li a.login-button {
    color: #ECEDDB;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 15px;
    background-color: #C20C45;
}
  
.menu li a.login-button:hover {
    background-color: #A80B37;
    transition: background-color 0.3s ease;
}
  
  /* Adicionando estilos para tornar o botão responsivo */
@media (max-width: 858px) {
    .menu li a.login-button {
      font-size: 14px; /* Ajuste o tamanho da fonte para telas menores */
      padding: 8px; /* Ajuste o preenchimento para telas menores */
    }
}
  

  
@media (max-width: 858px) {
      .logo img {
        width: 100px;
        margin-right: 15px;
      }
    
      .menu {
        position: fixed;
        display: none;
        flex-direction: column;
        position: fixed;
        top: 80px;
        right: 0;
        width: 100%;
        background: #FFF4F4;
        padding: 20px;
        z-index: 2; /* Define um z-index maior para que o <nav> fique em cima da imagem */
      }
      
      .fa-bars::before {
        content: "\f0c9";
        font-size: 25px;
        margin-left: 15px;
      }
      .menu li {
        margin: 10px 0;
      }
    
      .checkbtn {
        display: block;
        margin-right: 30px;
      }
    
      #check:checked ~ .menu {
        display: flex;
        position: absolute;
        text-align: center;
        font-size: 25px;
      }
      
    }
  
  @media (max-width: 858px) {
  
    /* Esconder o ícone de barras quando o menu estiver aberto */
    #check:checked ~ .checkbtn {
      display: none;
    }
  
    /* Exibir o ícone de X quando o menu estiver aberto */
    #check:checked ~ .checkbtn-close {
      display: block;
      margin-right: 30px;
      color: #A80B37;
      font-size: 25px;
      margin-left: 20px;
    }
}  