.green-text{
    color: var(#C20C45);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 28.8px */
  }
  span {
    margin: 10px auto;
    color: var( #C20C45); 
}