<div class="sub-footer">
    <div class="sub-footer-text">
      <div class="logo-container">
        <!-- Logo na direita -->
        <a href="/home">
          <img src="assets/imagens/logo-site.png" alt="Logo do site" style="width: 100px;">
        </a>
      </div>
      <p>Copyright © 2023 | Site feito por<a href="https://deniserisia.github.io/desafio-01-RS/" target="_blank" class="copyright-link"><span> Denise Rísia Carvalho. </span></a></p>
    </div>
    <div class="sub-footer-text">
      <!-- Redes sociais à esquerda -->
      <p><span> | </span> Redes Sociais</p>
      <h3 class="social-heading"></h3>
      <div class="iconTop">
        <a href="https://www.linkedin.com/in/deniserisiacarvalho/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/risiaeu/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://github.com/deniserisia" target="_blank"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
  